
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- About Us First Section Starts -->
    <!-- <div class="container-fluid bg-slider">
        <div class="row">
            <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner" id="slider_image">
                    <img class="img-responsive img-auto" alt="" id="image_banner" />
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid bg-about-first">
        <div class="row">
            <div class="col-xs-12">
                <img src="~/images/about-us.jpg" class="img-responsive" id="image_banner" alt="" />
            </div>
        </div>
  </div>
@*<div class="container-fluid bg-about-first">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 animated wow fadeInUp" data-wow-duration="2s">
                    <div class="about-heading text-center">
                        <h1>Diamtrade</h1>
                            <h2>We Stands Behind Our Suprior Customer Service & Quality Products</h2>
                        <h1 id="AboutTitle"></h1>
                        <h2 id="AboutContent"></h2>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 animated wow fadeInDown" data-wow-duration="2s">
                    <div class="about-banner-img">
                        <img  class="img-responsive img-auto" alt="" id="image_banner" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- About Us First Section Ends -->
<!-- Who We are Section Starts -->
<div class="container-fluid bg-about-main">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated wow fadeInUp" data-wow-duration="2s">
                    <div class="section-heading-about text-center">
                        @*<span>Who We Are?</span>*@
                        <span id="AboutTitle"></span>
                    </div>
                    <div class="about-disc">
                        @*<p>Populated by extraordinarily creative, motivated and talented people, our Software Engineering Team looks forward to developing new applications that make a difference and are used by millions globally.</p>
                            <p>Our core strengths lie in product conceptualization, design, development, and leverage of emerging technologies in the Open Source, J2EE, Microsoft and Web 2.0 space. We enable our customers to scale product development capacity, improve R&D economics, and accelerate new technology adoption in ways that enrich their product functionality, user experience, and user benefits.</p>*@
                        <p id="AboutContent"></p>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="about-service-section animated wow fadeInDown" data-wow-duration="2s">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="about-service-img">
                            <img  class="img-auto img-responsive" alt="" id="image_1" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="bg-about-caption">
                            @*<h2>A One Stop Business Solutions</h2>*@
                            <h2 id="AboutTitle2"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="about-para-div">
                        @*<p><span>18 years</span> of intelligent, intense and thorough research The leaders in diamond industry worldwide prefer HotSoft services. HotSoft offers ERP Solution, Web Development, Server Renting etc.</p>*@
                        <p id="AboutContent2"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="about-access-div animated wow fadeInUp" data-wow-duration="2s">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="about-access-caption text-center">
                            @*<h2>Anywhere Anytime Access</h2>*@
                            <h2 id="AboutTitle3"></h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="about-access-img">
                            <img  class="img-auto img-responsive" id="image_2" alt="" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="about-access-para text-center">
                            @*<p>You can access your data from anywhere in the world and on any device you like. DiamTrade is compatible with both Windows and Macintosh operating systems. </p>*@
                            <p id="AboutContent3"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="about-fast-safe-div animated wow fadeInUp" data-wow-duration="2s">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="img-div">
                            <img  class="img-responsive img-div" alt="" id="image_3" />
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
                        <div class="about-safe-caption">
                            @*<h2>Safest And Fastest</h2>*@
                            <h2 id="AboutTitle4"></h2>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="about-safty-disc">
                            @*<p>Enjoy our highly protected, high-speed server experience which is including all prices. Our high-secured server makes owning software even cheaper and efforts-free than ever.</p>*@
                            <p id="AboutContent4"></p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Who We are Section Ends -->

<!-- Message From Founder Section Starts -->
  <div class="container bg-founder-msg">
    <div class="row flex align-center no-flex">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 no-padding">
        <div class="founder-img">
          <img src="~/images/founder.png" class="img-responsive" id="image_owner" alt="" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 no-padding">
        <div class="founder-msg-box">
          <div class="founder-name">
            <h3 id="name"></h3>
            <h4 id="designation"></h4>
          </div>
          <div class="founder-msg-detail" id="discription">
           </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Message From Founder Section Ends -->

@section scripts{
    <script>
        var AboutID = 1;
       EditAboutUs();
        var imageurl = '@System.Configuration.ConfigurationManager.AppSettings["onlineimagelink"]';

        //$(document).ready(function () {
        //    EditAboutUs();
        //});
        function EditAboutUs() {

            $.ajax({
                type: "GET",
                data: "{}",
                //url: serviceurl + "EditAboutUs",
                url: "@Url.Action("EditAboutUs", "admin")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //alert("hi" + JSON.stringify(response));
                    //$("#AboutTitle").val(response.aboutus[0].AboutTitle).trigger('change');
                    $("#AboutTitle").html(response.aboutus[0].AboutTitle).trigger('change');
                    $("#AboutContent").html(response.aboutus[0].AboutContent).trigger('change');


                    $("#name").html(response.aboutus[0].AboutTitle1).trigger('change');
                    $("#discription").html(response.aboutus[0].AboutContent1).trigger('change');
                    $("#designation").html(response.aboutus[0].AboutTitle2).trigger('change');
                   

                    $("#image_banner").attr('src', imageurl+response.aboutus[0].Image_Banner);
                    $("#image_owner").attr('src', imageurl+response.aboutus[0].Image_Business);
                },
                failure: function (response) {
                    //alert(response.responseText);
                },
                error: function (response) {
                    //alert(response.responseText);
                }
            });
        }

    </script>
}
