
@{
    ViewBag.Title = "diamtrade";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<title>DiamTrade - diamtrade</title>
<!-- DiamTrade First Section Starts -->
<div class="container-fluid bg-diamtrade-compare">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 animated wow fadeInDown" data-wow-duration="2s">
                    <div class="diamtrade-logo-compare-text text-center">
                        <img src="~/images/diamtrade-logo.png" class="img-responsive img-auto img-cloud-side-logo img-diamtrade-logo-width" alt="" />
                    </div>
                    <p>
                        Track, Manage & Multifold Your Organization Growth.
                        Integrated Enterprise Solutions For Greater Mobility, Flexibility & Efficiency!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 animated wow fadeInDown" data-wow-duration="2s">
                    <div class="compare-heading text-center">
                        <span>Compare Products</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="desktop-compare-box animated wow fadeInDown" data-wow-duration="2s">
                                <img src="~/images/desktop-diamtrade.png" class="img-auto img-responsive" alt="" />
                                <div class="desktop-compare-disc">
                                    <p>WORK FLOW BUSSINESS INTELLEGENCE REPORTING AND DEVLOPED ON MICROSOFT’S MOST ADVANCE AND HIGH-TECHNOLOGY GUI [GRAPHIC USER INTERFACE] BASED ON WINDOWS PRESENTATION FOUNDATION.</p>
                                    <h3>Key Features</h3>
                                    <div class="row">
                                        <div class="desktop-compare-feature">
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box">
                                                    <img src="~/images/feature-1.png" class="img-responsive img-auto " alt="" />
                                                    <div class="feature-name-desktop text-center">
                                                        <p>RFID, Barcode</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box">
                                                    <img src="~/images/feature-2.png" class="img-responsive img-auto " alt="" />
                                                    <div class="feature-name-desktop text-center">
                                                        <p>MIS Reporting</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box">
                                                    <img src="~/images/feature-3.png" class="img-responsive img-auto " alt="" />
                                                    <div class="feature-name-desktop text-center">
                                                        <p>Full Customization According To Your Needs</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box">
                                                    <img src="~/images/feature-4.png" class="img-responsive img-auto " alt="" />
                                                    <div class="feature-name-desktop text-center">
                                                        <p>Multiple Inventories</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box">
                                                    <img src="~/images/feature-5.png" class="img-responsive img-auto " alt="" />
                                                    <div class="feature-name-desktop text-center">
                                                        <p>Website Integration</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box">
                                                    <img src="~/images/feature-6.png" class="img-responsive img-auto " alt="" />
                                                    <div class="feature-name-desktop text-center">
                                                        <p>Guaranteed Satisfaction</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box">
                                                    <img src="~/images/feature-7.png" class="img-responsive img-auto " alt="" />
                                                    <div class="feature-name-desktop text-center">
                                                        <p>Global Inventories</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box">
                                                    <img src="~/images/feature-8.png" class="img-responsive img-auto" alt="" />
                                                    <div class="feature-name-desktop text-center">
                                                        <p>100% Customized</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="know-more-compare-link text-center animated wow fadeInUp" data-wow-duration="2s">
                                            <a href='@Url.Action("desktop","products")'>Know More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="cloud-compare-box animated wow fadeInDown" data-wow-duration="2s">
                                <img src="~/images/cloud-diamtrade.png" class="img-auto img-responsive" alt="" />
                                <div class="cloud-compare-disc">
                                    <p>DIAMTRADE IS COMPLETE ERP AND CRM SOLUTION THAT COMES WITH UNLIMITED FEATURES, FULL CUSTOMIZATION AND SUPPORT. WE OFFER 2 TYPES OF PRODUCTS, YOU CAN CHOOSE WHICHEVER SUITS YOUR BUSINESS NEEDS.</p>
                                    <h3>Key Features</h3>
                                    <div class="row">
                                        <div class="cloud-compare-feature">
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box cloud-box-img">
                                                    <img src="~/images/responsive-vector.png" class="img-responsive img-auto" alt="" />
                                                    <div class="compare-feature-name-cloud text-center">
                                                        <p>Responsive</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box cloud-box-img">
                                                    <img src="~/images/security-vector.png" class="img-responsive img-auto " alt="" />
                                                    <div class="compare-feature-name-cloud text-center">
                                                        <p>High Security</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box cloud-box-img">
                                                    <img src="~/images/cloud-server-vector.png" class="img-responsive img-auto " alt="" />
                                                    <div class="compare-feature-name-cloud text-center">
                                                        <p>Cloud Server</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box cloud-box-img">
                                                    <img src="~/images/user-friendly-vector.png" class="img-responsive img-auto " alt="" />
                                                    <div class="compare-feature-name-cloud text-center">
                                                        <p>User Friendly</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box cloud-box-img">
                                                    <img src="~/images/compatiblity-vector.png" class="img-responsive img-auto " alt="" />
                                                    <div class="compare-feature-name-cloud text-center">
                                                        <p>Compatiblity</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box cloud-box-img">
                                                    <img src="~/images/broker-compare.png" class="img-responsive img-auto " alt="" />
                                                    <div class="compare-feature-name-cloud text-center">
                                                        <p>Broker</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box cloud-box-img">
                                                    <img src="~/images/invoicing-compare.png" class="img-responsive img-auto " alt="" />
                                                    <div class="compare-feature-name-cloud text-center">
                                                        <p>Invoicing</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box cloud-box-img">
                                                    <img src="~/images/accounts-compare.png" class="img-responsive img-auto" alt="" />
                                                    <div class="compare-feature-name-cloud text-center">
                                                        <p>Accounts</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp" data-wow-duration="2s">
                                                <div class="compare-feature-box cloud-box-img">
                                                    <img src="~/images/inventory-compare.png" class="img-responsive img-auto " alt="" />
                                                    <div class="compare-feature-name-cloud text-center">
                                                        <p>Inventory</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="know-more-compare-link text-center animated wow fadeInUp" data-wow-duration="2s">
                                            <a href='@Url.Action("cloud","products")'>Know More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DiamTrade First Section Ends -->
<!-- Testimonial Section Starts -->
<div class="container-fluid bg-client-review animated wow fadeInUp" data-wow-duration="2s">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="customer-review-heading text-center">
                        <span>Customer Reviews</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="testimonial-bg-div">
                        <div id="testimonial-slider" class="owl-carousel">
                            <div class="testimonial">
                                <p class="customer-review-disc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at augue sed elit eleifend tempus. Etiam malesuada vulputate justo quis bibendum. Nam maximus ultricies rhoncus. Ut non felis vel enim dapibus.
                                </p>
                                <img src="~/images/testimonial-bottom-img.png" class="img-auto img-responsive" alt="" />
                                <div class="customer-pic">
                                    <img src="~/images/img-1.jpg" class="img-auto" alt="" />
                                </div>
                                <h3 class="customer-name text-center">Williamson</h3>
                            </div>
                            <div class="testimonial">
                                <p class="customer-review-disc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at augue sed elit eleifend tempus. Etiam malesuada vulputate justo quis bibendum. Nam maximus ultricies rhoncus. Ut non felis vel enim dapibus.
                                </p>
                                <img src="~/images/testimonial-bottom-img.png" class="img-auto img-responsive" alt="" />
                                <div class="customer-pic">
                                    <img src="~/images/img-2.jpg" class="img-auto" alt="" />
                                </div>
                                <h3 class="customer-name text-center">kristiana</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Section Ends -->
