
@{
    ViewBag.Title = "downloads";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="container-fluid bg-downloads-page">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 animated wow fadeInDown text-center" data-wow-duration="2s">
                    <div class="teamviewer-img">
                        <a href="https://dl.teamviewer.com/download/TeamViewer_Setup.exe"><img src="~/images/teamviwerNew.png" class="img-auto img-responsive" alt="" /></a>
                        <a href="https://dl.teamviewer.com/download/TeamViewer_Setup.exe"><img src="~/images/bottom-arrow.png" class="bottom-Download"></a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 animated wow fadeInDown text-center" data-wow-duration="2s">
                    <div class="teamviewer-img">
                        <a href="#"><img src="~/images/anydweskNew.png" class="img-responsive img-auto" alt="" /></a>
                        <a href="#"><img src="~/images/bottom-arrow.png" class="bottom-Download"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="m-top-50">
                    <div class="text-center m-top-50">
                        <div class="pdf-img company-broucher-text">
                            <a href="#"><img src="~/images/company-broucher.png" class="img-auto img-responsive" alt="" /></a>
                        </div>
                    </div>
                    <div class="m-top-50">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp text-center" data-wow-duration="2s">
                            <div class="teamviewer-img1">
                                <div class="pdf-Download"><a href="#"><img src="~/images/cloud-pdf.png" class="img-auto img-responsive  pdf-Download" alt="" /></a></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp text-center" data-wow-duration="2s">
                            <div class="teamviewer-img1">
                                <div class="pdf-Download"><a href="#"><img src="~/images/desktop-pdf.png" class="img-auto img-responsive" alt="" /></a></div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 animated wow fadeInUp text-center" data-wow-duration="2s">
                            <div class="teamviewer-img1">
                                <div class="pdf-Download"><a href="#"><img src="~/images/diamx-pdf.png" class="img-auto img-responsive" alt="" /></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

