
@{
    ViewBag.Title = "inquiry";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Contact Banner Section Starts -->
<div class="container-fluid bg-inquiry-form-new">
    <div class="row">
        <div class="container">
            <div class="row">
                <!-- <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="contact-inquiry-heading text-center">
                    <h2>Contact <span> Details</span></h2>
                  </div>
                  <ul class="contact-details">
                    <li>
                      <div class="c-detail">
                        <h5>Our Location</h5>
                        <p>HotSoft BVBA,
                              3 Hoveniersstraat, 2018,
                              Antwerpen,Belgium, Europe.</p>
                      </div>
                    </li>
                    <li>
                      <div class="c-detail">
                        <h5>Phone</h5>
                        <a href="tel:+32474247575">+32474247575</a>
                      </div>
                    </li>
                    <li>
                      <div class="c-detail">
                        <h5>Email</h5>
                        <a href="mailto:Diamtrade.Support">Diamtrade.Support</a>
                      </div>
                    </li>
                  </ul>
                </div> -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <form class="inquiry-form-new">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="inquiry-form-titile text-center">
                                    <h2>Inquiry Online</h2>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Full Name*" id="txtfullname" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone*" id="txtphone" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email*" id="txtemail" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <select class="form-control" id="inquirytype">
                                        <option>Select Option</option>
                                        <option>Diamtrade DiamX</option>
                                        <option>Diamtrade Cloud</option>
                                        <option value="Diamtrade Desktop">Diamtrade Desktop</option>
                                        <option value="Graphic Design">Graphic Design</option>
                                        <option value="Web Development">Web Development</option>
                                        <option value="Software Development">Software Development</option>
                                        <option value="Mobile App Development">Mobile App Development</option>
                                        <option value="Digital Marketing">Digital Marketing</option>
                                        <option value="HotSoft">HotSoft</option>
                                        <option value="Shaural">Shaural</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message*" id="txtmessage"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="button" class="btn-quote" onclick="submitinquiry();">Get A Free Quote!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var InquiryID = 1;
      // EditInquiry();

        function EditInquiry() {

            $.ajax({
                type: "GET",
                data: "{}",
                //url: serviceurl + "EditInquiryUs",
                url: "@Url.Action("EditInquiry", "admin")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //alert("hi" + JSON.stringify(response));
                    $("#InquiryDesc").html(response.inquiries[0].InquiryDesc).trigger('change');
                    $("#Address").html(response.inquiries[0].Address).trigger('change');
                    $("#MobileNo").html(response.inquiries[0].MobileNo).trigger('change');
                    $("#EmailID").html(response.inquiries[0].EmailID).trigger('change');
                },
                failure: function (response) {
                    //alert(response.responseText);
                },
                error: function (response) {
                    //alert(response.responseText);
                }
            });
    }
     function ClearControll() {
        $("#txtfullname").val("");
       $("#txtphone").val("");
         $("#txtemail").val("");
         $("#txtmessage").val("");
         $("#inquirytype").val("0");
    }
        function submitinquiry() {
            if ($("#txtfullname").val() != "" && $("#txtemail").val() != "") {
                var data = JSON.stringify({
                    'FullName': $("#txtfullname").val(),
                    'MobileNo': $("#txtphone").val(),
                    'EmailID': $("#txtemail").val(),
                    'InquiryMessage': $("#txtmessage").val(),
                    'InquiryType': $("#inquirytype option:selected").text()
                })
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("InsertInquiry", "admin")",
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response > 0) {
                            alert("Successfully send your message!");
                            ClearControll();
                        }
                        else {

                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
            else {
                 alert("Please fill form details carefully!")
            }
    }
    </script>
}
