
@{
    ViewBag.Title = "digital_media";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Digital Media Section Starts -->
<div class="container-fluid bg-digital-media-page">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5 animated wow fadeInDown" data-wow-duration="2s">
                    <img src="~/images/Grapics-banner-text.png" class="img-responsive img-auto img-graphic-text" alt="" />
                </div>
                <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
                    <div class="cloud-tag-lines animated wow fadeInUp" data-wow-duration="2s">
                        <img src="~/images/graphic-printing-banner.png" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="digital-media-disc-para text-center">
                        <p>Digital Marketing Services to Increase Customer Acquisition Rate!</p>
                        <p>Detailed Strategy, Effective Planning & Maximum Results (Just For You)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Digital Media Section Ends -->
<!-- Brand Design Section Starts -->
<div class="container bg-brand-design">
    <div class="row">
        <div class="col-xs-12">
            <div class="brand-design-heading text-center">
                <span>Digital Media Design</span>
            </div>
            <div class="brand-design-img animated wow fadeInUp" data-wow-duration="2s">
                <img src="~/images/digital-marketing-img.png" class="img-responsive img-auto" alt="" />
            </div>
            <div class="brand-identity-disc">
                <p>Make it look enticing. Gain potential customers through Digital Media Posts. It’s true – People love humanly touch; a sort of creative or any offer that they can engage and share their opinions with. More about building trust and transparency among the target audience! Take Infographics, Images, Videos and Podcasts, including Text-Based Guides, every content type is important and plays a winning role for your business success. Allow your target audience to build mutual relationship, get amazing Creatives & Digital Media Posts that can stand out and do the best to acquire you success in the online world. </p>
            </div>
        </div>
    </div>
</div>
<!-- Brand Design Section Ends -->
<!-- Degital Media Feature Section Starts -->
<div class="container bg-printing-media-feature">
    <div class="row">
        <div class="printing-feature-box">
            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInDown" data-wow-duration="2s">
                <div class="printing-feature-body">
                    <div class="printing-feature-title text-center">
                        <span>Web Banner</span>
                        <img src="~/images/banner-icon.png" class="img-responsive" alt="" />
                    </div>
                    <p>Finding out a quick way to customers’ mind? What makes a brand stand out is Creative Graphic. Get the best, stunning and awesome Banner & Signage Designs and make your venture identically strong, powerful & recognizable. If you get it perfectly done, it will help people sense more about your business and services at the quickest. And, that’s how brands in the world are distinguished by far. </p>
                </div>
            </div>
        </div>
        <div class="printing-feature-box">
            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInDown" data-wow-duration="2s">
                <div class="printing-feature-body">
                    <div class="printing-feature-title text-center">
                        <span>Social Media Post</span>
                        <img src="~/images/post-icon.png" class="img-responsive" alt="" />
                    </div>
                    <p>Do you find it hard to gain customers’ trust? How you make sure your customers know enough about your services and brand history? Well, regardless of your strategic business plans, strategies and goal-oriented visions, start investing in Brochure Designing. Take it as a medium to convey success stories and information your customers want to read about. Don’t lose them. Give them the information they need to read about your venture. Get eye-catching, stunning and rewarding Brochure designed, today! </p>
                </div>
            </div>
        </div>
        <div class="printing-feature-box">
            <div class="col-sm-4 col-md-4 col-lg-4 animated wow fadeInDown" data-wow-duration="2s">
                <div class="printing-feature-body">
                    <div class="printing-feature-title text-center">
                        <span>GIF Animation</span>
                        <img src="~/images/gif-icon.png" class="img-responsive" alt="" />
                    </div>
                    <p>Often look for awesome and fine-tuned logos. It will help you build visual identity for your venture. Logo designing is a core practice, and if crafted properly, can reflect company’s crucial foundational messages real-quick. Let us make it appealing, rewarding & inspiring for you since innovation usually takes an edge with beautiful logo in an online business world.  </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Digital Media Feature Section Ends -->
<!-- Information Section Starts -->
<div class="container-fluid bg-information">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="bg-information-skew">
                        <div class="row">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="info-details">
                                    <h3>Need More Information</h3>
                                    <p>7days a Week from 9:00 to 18:00</p>
                                    <p><span>+(32) 474247575, </span> <span> +(91) 9904900060/61/62</span></p>
                                    <p><span>Skype: Diamtrade.Support</span></p>
                                </div>
                            </div>
                        </div>
                        <img src="~/images/support-girl.png" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Information Section Ends -->
