
@{
    ViewBag.Title = "erp_software_service";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- ERP Service Section Starts -->
<div class="container-fluid bg-erp-page">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 animated wow fadeInDown" data-wow-duration="2s">
                    <img src="~/images/software-banner-img.png" class="img-responsive img-auto" alt="" />
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 animated wow fadeInUp" data-wow-duration="2s">
                    <div class="software-tag-lines">
                        <img src="~/images/software-banner-text.png" class="img-responsive img-auto img-graphic-text" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ERP Service Section Ends -->
<!-- ERP Intro Section Starts -->
<div class="container-fluid bg-erp-system">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="erp-heading text-center animated wow fadeInDown" data-wow-duration="2s">
                        <span>ERP SOFTWARE SERVICE</span>
                    </div>
                    <div class="erp-software-disc animated wow fadeInDown" data-wow-duration="2s">
                        <p>Plan, administer and optimize business processes and operations. From manufacturing and supply chain to human resource and customer relationship management, now get more done through your ERP Software. </p>
                        <p>Get a unified system and stay ahead of the competition. Improve productivity and automate core functions in your organization. </p>
                        <p>Provide convenience and enjoy flexibility. Bring mobility in your business. Access to crucial information and cater services as per your customers’ requirement.</p>
                        <p>Just streamline and enjoy huge profit margins. Get our ERP Software Development Services, today!</p>
                        <p>We help our customers keep pace with ever-changing technology and environment. Let’s get you on board, today! </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="owl2" class="owl-carousel owl-theme carousel-erp">
                    <div class="item">
                        <div class="erp-item">
                            <div class="erp-img">
                                <img src="~/images/efficiency.png" class="img-auto img-responsive" alt="" />
                            </div>
                            <div class="erp-disc">
                                <h3>Efficiency</h3>
                                <p>ERP Software ensures to automate your business functioning, further help you get more out of your efforts, time and investments! </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="erp-item">
                            <div class="erp-img">
                                <img src="~/images/integrated-information.png" class="img-auto img-responsive" alt="" />
                            </div>
                            <div class="erp-disc">
                                <h3>Integrated Information</h3>
                                <p>You get a unified and completely integrated information system in place, so you can easily access to crucial information and data anytime. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="erp-item">
                            <div class="erp-img">
                                <img src="~/images/customer-service.png" class="img-auto img-responsive" alt="" />
                            </div>
                            <div class="erp-disc">
                                <h3>Customer Service</h3>
                                <p>Build and nurture your relations with customers. ERP Software will help you manage and streamline conversations effortlessly. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="erp-item">
                            <div class="erp-img">
                                <img src="~/images/security.png" class="img-auto img-responsive" alt="" />
                            </div>
                            <div class="erp-disc">
                                <h3>Security</h3>
                                <p>You get the top-level security and surveillance, meaning achieving more success without any worry. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ERP Intro Section Ends -->
<!-- Information Section Starts -->
<div class="container-fluid bg-information">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="bg-information-skew">
                        <div class="row">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="info-details">
                                    <h3>Need More Information</h3>
                                    <p>7days a Week from 9:00 to 18:00</p>
                                    <p><span>+(32) 474247575, </span> <span> +(91) 9904900060/61/62</span></p>
                                    <p><span>Skype: Diamtrade.Support</span></p>
                                </div>
                            </div>
                        </div>
                        <img src="~/images/support-girl.png" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Information Section Ends -->
