
@{
    ViewBag.Title = "graphics_design";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Graphics Design Section Starts -->
<div class="container-fluid bg-printing-media-page">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5 animated wow fadeInDown" data-wow-duration="2s">
                    <img src="~/images/Grapics-banner-text.png" class="img-responsive img-auto img-graphic-text" alt="" />
                </div>
                <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
                    <div class="cloud-tag-lines animated wow fadeInUp" data-wow-duration="2s">
                        <img src="~/images/graphic-printing-banner.png" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="printing-media-disc-para text-center">
                        <p>Make Your Brand Shine With Creative Graphic Services. </p>
                        <p>A Little Push That Can Multifold Your Success Rate! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Graphics Design Section Ends -->
<!-- BG Inner Starts -->
<div class="container-fluid bg-inner-graphic">
    <div class="row">
        <!-- Brand Design Section Starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="brand-design-heading text-center">
                                <span>Brand Identity Design</span>
                            </div>
                            <div class="brand-design-img animated wow fadeInUp" data-wow-duration="2s">
                                <img src="~/images/brand-identity-img.png" class="img-responsive img-auto" alt="" />
                            </div>
                            <div class="brand-identity-disc animated wow fadeInUp" data-wow-duration="2s">
                                <p>Ever wondered how a brand is given a position that lasts long? Well, it’s through consistency that matters. Do you want to appeal to your customers? Do you want to tell inspiring stories about your brand? In fact, a vibrant brand identity is everything, and further fuels success for any venture. Our Excellent Designers make beautiful graphics and great designs that stand. Let us make things on board and help you with visually impactful brand identity, today! It can range from Business Cards, Flyers to Logo, Banner, Signage & Brochure Designing, etc. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Design Section Ends -->
        <!-- Graphics Design Feature Section Starts -->
        <div class="container bg-printing-media-feature">
            <div class="row">
                <div class="col-xs-12">
                    <div id="graphics-feature-slider" class="owl-carousel">
                        <div class="printing-feature-box">
                            <div class="printing-feature-body">
                                <div class="printing-feature-title text-center">
                                    <span>Banner & Signage Design</span>
                                    <img src="~/images/printing-feature-1.png" class="img-responsive" alt="" />
                                </div>
                                <p>Finding out a quick way to customers’ mind? What makes a brand stand out is Creative Graphic. Get the best, stunning and awesome Banner & Signage Designs and make your venture identically strong, powerful & recognizable. If you get it perfectly done, it will help people sense more about your business and services at the quickest. And, that’s how brands in the world are distinguished by far. </p>
                            </div>
                        </div>
                        <div class="printing-feature-box">
                            <div class="printing-feature-body">
                                <div class="printing-feature-title text-center">
                                    <span>Brochure Designing</span>
                                    <img src="~/images/printing-feature-4.png" class="img-responsive" alt="" />
                                </div>
                                <p>Do you find it hard to gain customers’ trust? How you make sure your customers know enough about your services and brand history? Well, regardless of your strategic business plans, strategies and goal-oriented visions, start investing in Brochure Designing. Take it as a medium to convey success stories and information your customers want to read about. Don’t lose them. Give them the information they need to read about your venture. Get eye-catching, stunning and rewarding Brochure designed, today! </p>
                            </div>
                        </div>
                        <div class="printing-feature-box">
                            <div class="printing-feature-body">
                                <div class="printing-feature-title text-center">
                                    <span>Logo Designing</span>
                                    <img src="~/images/printing-feature-5.png" class="img-responsive" alt="" />
                                </div>
                                <p>Often look for awesome and fine-tuned logos. It will help you build visual identity for your venture. Logo designing is a core practice, and if crafted properly, can reflect company’s crucial foundational messages real-quick. Let us make it appealing, rewarding & inspiring for you since innovation usually takes an edge with beautiful logo in an online business world.  </p>
                            </div>
                        </div>
                        <div class="printing-feature-box">
                            <div class="printing-feature-body">
                                <div class="printing-feature-title text-center">
                                    <span>Web Banner</span>
                                    <img src="~/images/banner-icon.png" class="img-responsive" alt="" />
                                </div>
                                <p>Stand out from the competition. Increase your credibility and trust. Get well-designed and eye-catching web banners. Increase traffic and enjoy higher click through rates. Let us create attractive, effective web banners for you. We offer services for static, animated, flash or video banners. Contact us to get professional banners designed, today! </p>
                            </div>
                        </div>
                        <div class="printing-feature-box">
                            <div class="printing-feature-body">
                                <div class="printing-feature-title text-center">
                                    <span>Social Media Post</span>
                                    <img src="~/images/post-icon.png" class="img-responsive" alt="" />
                                </div>
                                <p>Promote your business and grab huge opportunities online. Establish a presence that lasts long. Manage your social media channels and engage your customers efficiently. Send important updates and other notifications. Use our Social Media Post Services and get more done. Spark compelling conversations and experience the greatest business growth. Again, help your customers coming back to you through our Social Media Post Services. Contact us, today!  </p>
                            </div>
                        </div>
                        <div class="printing-feature-box">
                            <div class="printing-feature-body">
                                <div class="printing-feature-title text-center">
                                    <span>GIF Animation</span>
                                    <img src="~/images/gif-icon.png" class="img-responsive" alt="" />
                                </div>
                                <p>Explain and promote your organization anytime. Boost rate of conversion and online visibility. Get quality GIF Animation Services and extend success rates to sky heights. Our skilled and talented experts will help you incorporate your brand identity and deliver business core messages through GIF Animation Services efficiently. Contact us, today! </p>
                            </div>
                        </div>
                    </div>
                    <div class="brand-identity-disc animated wow fadeInUp" data-wow-duration="2s">
                        <p>Make it look enticing. Gain potential customers through Digital Media Posts. It’s true – People love humanly touch; a sort of creative or any offer that they can engage and share their opinions with. More about building trust and transparency among the target audience! Take Infographics, Images, Videos and Podcasts, including Text-Based Guides, every content type is important and plays a winning role for your business success. Allow your target audience to build mutual relationship, get amazing Creatives &amp; Digital Media Posts that can stand out and do the best to acquire you success in the online world. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Graphics Design Feature Section Ends -->
        <!-- Information Section Starts -->
        <div class="container-fluid bg-information">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bg-information-skew">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="more-info-box text-center">
                                            <h3>Head Office</h3>
                                            <h4 class="line-height">
                                                HotSoft BVBA,
                                                3 Hoveniersstraat,2018
                                                Antwerpen, Belgium, Europe
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="more-info-box text-center">
                                            <h3>Contacts</h3>
                                            <p>Phone:</p>
                                            <a href="tel:+32.474.24.7575">+32.474.24.7575</a>
                                            <p>Email:</p>
                                            <a href="mailto:Vinaypatel@hotsoft.be">Vinaypatel@hotsoft.be</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="more-info-box text-center">
                                            <h3>Support</h3>
                                            <p><i class="fab fa-skype"></i><a href="skype:DiamTrade.Support?call">&nbsp;&nbsp;Diamtrade.Support</a></p>
                                            <p><i class="fas fa-download"></i><a href="http://download.teamviewer.com/download/version_9x/TeamViewer_Setup.exe" target="_blank" title="Download Teamviewer Version_9x for Windows">&nbsp;&nbsp;Download Teamviewer</a></p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-10 col-md-10 col-lg-10">
                                      <div class="info-details">
                                        <h3>Need More Information</h3>
                                        <p>7days a Week from 9:00 to 18:00</p>
                                        <p><span>+(32) 474247575, </span> <span> +(91) 9904900060/61/62</span></p>
                                        <p><span>Skype: Diamtrade.Support</span></p>
                                      </div>
                                    </div> -->
                                </div>
                                <img src="~/images/support-girl.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Information Section Ends -->
    </div>
</div>
<!-- BG Inner Ends -->
