
@{
    ViewBag.Title = "software_development";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Enterprise Section Starts -->
<div class="container-fluid bg-enterprise-page" style="display:none">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 animated wow fadeInDown" data-wow-duration="2s">
                    <img  class="img-responsive img-auto" id="servicebanner" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Enterprise Section Ends -->
<!-- bg main Section Starts -->
<div class="container-fluid bg-inner-software">
    <div class="row">
        <!-- Enterprise Intro Section Starts -->
        <div class="container-fluid bg-enterprise-system">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="enterprise-heading text-center animated wow fadeInDown" data-wow-duration="2s">
                                <span id="servicetitle"></span>
                            </div>
                            <div class="enterprise-disc animated wow fadeInDown" data-wow-duration="2s">
                                <p id="servicediscription_1"></p>
                                <p id="servicediscription_2"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 animated wow flipInY" data-wow-duration="2s">
                            <div class="integration-item">
                                <div class="integration-img">
                                    <img  class="img-auto img-responsive" alt="" id="service_img1" />
                                </div>
                                <div class="integration-disc">
                                    <h3 id="img1_title"></h3>
                                    <p id="img1_content"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 animated wow flipInY" data-wow-duration="2s">
                            <div class="integration-item">
                                <div class="integration-img">
                                    <img  class="img-auto img-responsive" alt="" id="service_img2" />
                                </div>
                                <div class="integration-disc">
                                    <h3 id="img2_title"></h3>
                                    <p id="img2_content"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 animated wow flipInY" data-wow-duration="2s">
                            <div class="integration-item">
                                <div class="integration-img">
                                    <img  class="img-auto img-responsive" alt="" id="service_img3" />
                                </div>
                                <div class="integration-disc">
                                    <h3 id="img3_title"></h3>
                                    <p id="img3_content"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 animated wow fadeInUp" data-wow-duration="2s">
                            <div class="software-feature-heading text-center" id="features_show">
                                <h2>Features</h2>
                            </div>
                            <div id="owl2" class="owl-carousel owl-theme carousel-erp">
                                @*<div class="item">
                                    <div class="erp-item">
                                        <div class="erp-img">
                                            <img src="~/images/efficiency.png" class="img-auto img-responsive" alt="" />
                                        </div>
                                        <div class="erp-disc">
                                            <h3>Efficiency</h3>
                                            <p>ERP Software ensures to automate your business functioning, further help you get more out of your efforts, time and investments! </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="erp-item">
                                        <div class="erp-img">
                                            <img src="~/images/integrated-information.png" class="img-auto img-responsive" alt="" />
                                        </div>
                                        <div class="erp-disc">
                                            <h3>Integrated Information</h3>
                                            <p>You get a unified and completely integrated information system in place, so you can easily access to crucial information and data anytime. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="erp-item">
                                        <div class="erp-img">
                                            <img src="~/images/customer-service.png" class="img-auto img-responsive" alt="" />
                                        </div>
                                        <div class="erp-disc">
                                            <h3>Customer Service</h3>
                                            <p>Build and nurture your relations with customers. ERP Software will help you manage and streamline conversations effortlessly. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="erp-item">
                                        <div class="erp-img">
                                            <img src="~/images/security.png" class="img-auto img-responsive" alt="" />
                                        </div>
                                        <div class="erp-disc">
                                            <h3>Security</h3>
                                            <p>You get the top-level security and surveillance, meaning achieving more success without any worry. </p>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Enterprise Intro Section Ends -->
        <!-- Information Section Starts -->
        <div class="container-fluid bg-information" style="display:none">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bg-information-skew">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="more-info-box text-center">
                                            <h3>Head Office</h3>
                                            <h4 class="line-height">
                                                HotSoft BVBA,
                                                3 Hoveniersstraat,2018
                                                Antwerpen, Belgium, Europe
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="more-info-box text-center">
                                            <h3>Contacts</h3>
                                            <p>Phone:</p>
                                            <a href="tel:+32.474.24.7575">+32.474.24.7575</a>
                                            <p>Email:</p>
                                            <a href="mailto:Vinaypatel@hotsoft.be">Vinaypatel@hotsoft.be</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="more-info-box text-center">
                                            <h3>Support</h3>
                                            <p><i class="fab fa-skype"></i><a href="skype:DiamTrade.Support?call">&nbsp;&nbsp;Diamtrade.Support</a></p>
                                            <p><i class="fas fa-download"></i><a href="http://download.teamviewer.com/download/version_9x/TeamViewer_Setup.exe" target="_blank" title="Download Teamviewer Version_9x for Windows">&nbsp;&nbsp;Download Teamviewer</a></p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-10 col-md-10 col-lg-10">
                                      <div class="info-details">
                                        <h3>Need More Information</h3>
                                        <p>7days a Week from 9:00 to 18:00</p>
                                        <p><span>+(32) 474247575, </span> <span> +(91) 9904900060/61/62</span></p>
                                        <p><span>Skype: Diamtrade.Support</span></p>
                                      </div>
                                    </div> -->
                                </div>
                                <img src="~/images/support-girl.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Information Section Ends -->
    </div>
</div>

@section scripts{
    <script>
      
    var sPageURL = window.location.href;
    var indexOfLastSlash = sPageURL.lastIndexOf("?");
        var servicename;
    if (indexOfLastSlash != "" && sPageURL.length - 1 != indexOfLastSlash) {
    servicename = sPageURL.substring(indexOfLastSlash + 1);
    BindServicePageData(servicename);
    }
    else {
    alert("error");
    }
          var imageurl = '@System.Configuration.ConfigurationManager.AppSettings["onlineimagelink"]';


        function BindServicePageData(servicename) {
             $.ajax({
                type: "GET",
                data: { 'ServiceTypeName': servicename },
                url: "@Url.Action("BindServiceData", "services")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                 success: function (response) {
                     $("#servicebanner").attr('src', imageurl+response.servicetype[0].ServiceBanner);
                     $("#servicetitle").html(response.servicetype[0].Service_Heading);
                     $("#servicediscription_1").html(response.servicetype[0].Service_Desc1);
                     $("#servicediscription_2").html(response.servicetype[0].Service_Desc2);

                     $("#service_img1").attr('src', imageurl+response.servicetype[0].Service_img1);
                     $("#img1_title").html(response.servicetype[0].Service_title1);
                     $("#img1_content").html(response.servicetype[0].img1_Content1);

                     $("#service_img2").attr('src', imageurl+response.servicetype[0].Service_img2);
                     $("#img2_title").html(response.servicetype[0].Service_title2);
                     $("#img2_content").html(response.servicetype[0].img2_Conrent2);

                     $("#service_img3").attr('src', imageurl+response.servicetype[0].Service_ing3);
                     $("#img3_title").html(response.servicetype[0].Service_title3);
                     $("#img3_content").html(response.servicetype[0].img3_Content3);

                     if (response.servicetypefeature.length > 0) {
                         var row = "";
                         $.each(response.servicetypefeature, function (index, item) {
                             row += "<div class='item'><div class='erp-item'><div class='erp-img'><img src=" + imageurl+item.Service_Freature_img + "  alt=''/></div><div class='erp-disc'><h3>" + item.Service_Feature_Title + "</h3><p>" + item.Service_Feature_Desc + "</p></div></div></div>";
                         })
                         $("#owl2").html(row);
                          $('#owl2').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 2
                }
            }
        })
                     }
                     else {
                         $("#owl2").html("");
                         $("#features_show").hide();
                     }

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                 error: function (response) {
                     alert(response.responseText);
                }
            });
        }
    </script>

}
<!-- bg main Section Ends -->
