
@{
    ViewBag.Title = "software_development";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Enterprise Section Starts -->
<div class="container-fluid bg-enterprise-page">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 animated wow fadeInUp" data-wow-duration="2s">
                    <div class="software-tag-lines">
                        <img src="~/images/software-banner-text.png" class="img-responsive img-auto img-graphic-text" alt="" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 animated wow fadeInDown" data-wow-duration="2s">
                    <img src="~/images/software-banner-img.png" class="img-responsive img-auto" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Enterprise Section Ends -->
<!-- bg main Section Starts -->
<div class="container-fluid bg-inner-software">
    <div class="row">
        <!-- Enterprise Intro Section Starts -->
        <div class="container-fluid bg-enterprise-system">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="enterprise-heading text-center animated wow fadeInDown" data-wow-duration="2s">
                                <span>ENTERPRISE SYSTEM INTEGRATION</span>
                            </div>
                            <div class="enterprise-disc animated wow fadeInDown" data-wow-duration="2s">
                                <p>Enterprise integration is a technical field of enterprise architecture, which focused on the study of topics such as system interconnection, electronic data interchange, product data exchange and distributed computing environments.</p>
                                <p>It is a concept in enterprise engineering to provide the relevant information and thereby enable communication between people, machines and computers and their efficient co-operation and co-ordination.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 animated wow flipInY" data-wow-duration="2s">
                            <div class="integration-item">
                                <div class="integration-img">
                                    <img src="~/images/reporting-icon.png" class="img-auto img-responsive" alt="" />
                                </div>
                                <div class="integration-disc">
                                    <h3>Reporting System Integration</h3>
                                    <p>Experience a high level of standardization through Reporting System. Get information in a detailed or summary format. Automate your reporting processes and merge & evaluate the required data anytime. Control and maintain the increasing density of information. Improve efficiency and productivity at the same time. Filter through the relevant and correct information and control functions and entire production processes easily. Switch to Reporting System, today!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 animated wow flipInY" data-wow-duration="2s">
                            <div class="integration-item">
                                <div class="integration-img">
                                    <img src="~/images/cloud-icon.png" class="img-auto img-responsive" alt="" />
                                </div>
                                <div class="integration-disc">
                                    <h3>Cloud Service Integration</h3>
                                    <p>Achieve the highest IT Transformation through Cloud Service Integration. Make your infrastructure and applications deployed programmable. Reduce Application and Data Security risks. Cloud Service Integration ensures speedy migration and deployment of workloads. So, manage, monitor and provision your infrastructure, operations and applications seamlessly.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 animated wow flipInY" data-wow-duration="2s">
                            <div class="integration-item">
                                <div class="integration-img">
                                    <img src="~/images/cms-icon.png" class="img-auto img-responsive" alt="" />
                                </div>
                                <div class="integration-disc">
                                    <h3>CRM Integration</h3>
                                    <p>Make quick communication with your customers. Find the best sales opportunities and analyze how sales representatives are falling apart. Take real-time measures to making every interaction engaging, fine and better. Improve marketing campaigns and see what fits with your business goals and requirement. Involve CRM Integration and enhance connectivity within the organization. It will streamline your processes, improve customer satisfaction and increase their lifetime value. And, it’s always smooth and seamless!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 animated wow fadeInUp" data-wow-duration="2s">
                            <div class="software-feature-heading text-center">
                                <h2>Features</h2>
                            </div>
                            <div id="owl2" class="owl-carousel owl-theme carousel-erp">
                                <div class="item">
                                    <div class="erp-item">
                                        <div class="erp-img">
                                            <img src="~/images/efficiency.png" class="img-auto img-responsive" alt="" />
                                        </div>
                                        <div class="erp-disc">
                                            <h3>Efficiency</h3>
                                            <p>ERP Software ensures to automate your business functioning, further help you get more out of your efforts, time and investments! </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="erp-item">
                                        <div class="erp-img">
                                            <img src="~/images/integrated-information.png" class="img-auto img-responsive" alt="" />
                                        </div>
                                        <div class="erp-disc">
                                            <h3>Integrated Information</h3>
                                            <p>You get a unified and completely integrated information system in place, so you can easily access to crucial information and data anytime. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="erp-item">
                                        <div class="erp-img">
                                            <img src="~/images/customer-service.png" class="img-auto img-responsive" alt="" />
                                        </div>
                                        <div class="erp-disc">
                                            <h3>Customer Service</h3>
                                            <p>Build and nurture your relations with customers. ERP Software will help you manage and streamline conversations effortlessly. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="erp-item">
                                        <div class="erp-img">
                                            <img src="~/images/security.png" class="img-auto img-responsive" alt="" />
                                        </div>
                                        <div class="erp-disc">
                                            <h3>Security</h3>
                                            <p>You get the top-level security and surveillance, meaning achieving more success without any worry. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Enterprise Intro Section Ends -->
        <!-- Information Section Starts -->
        <div class="container-fluid bg-information">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bg-information-skew">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="more-info-box text-center">
                                            <h3>Head Office</h3>
                                            <h4 class="line-height">
                                                HotSoft BVBA,
                                                3 Hoveniersstraat,2018
                                                Antwerpen, Belgium, Europe
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="more-info-box text-center">
                                            <h3>Contacts</h3>
                                            <p>Phone:</p>
                                            <a href="tel:+32.474.24.7575">+32.474.24.7575</a>
                                            <p>Email:</p>
                                            <a href="mailto:Vinaypatel@hotsoft.be">Vinaypatel@hotsoft.be</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="more-info-box text-center">
                                            <h3>Support</h3>
                                            <p><i class="fab fa-skype"></i><a href="skype:DiamTrade.Support?call">&nbsp;&nbsp;Diamtrade.Support</a></p>
                                            <p><i class="fas fa-download"></i><a href="http://download.teamviewer.com/download/version_9x/TeamViewer_Setup.exe" target="_blank" title="Download Teamviewer Version_9x for Windows">&nbsp;&nbsp;Download Teamviewer</a></p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-10 col-md-10 col-lg-10">
                                      <div class="info-details">
                                        <h3>Need More Information</h3>
                                        <p>7days a Week from 9:00 to 18:00</p>
                                        <p><span>+(32) 474247575, </span> <span> +(91) 9904900060/61/62</span></p>
                                        <p><span>Skype: Diamtrade.Support</span></p>
                                      </div>
                                    </div> -->
                                </div>
                                <img src="~/images/support-girl.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Information Section Ends -->
    </div>
</div>
<!-- bg main Section Ends -->
